
*, *::before, *::after {
  box-sizing: border-box;
}


html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #2A2F4F;
  /* color:#FDE2F3; */
  color:white;
}

body {
  margin:0;
  line-height: 1.5;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
    position: relative;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #FDE2F3;
    /* border: 4px solid hsl(0, 0%, 90%); */
    color:#2A2F4F;
    display: grid;
    gap: 2rem;
  }



button,
input,
select
{
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input
{
  border: 2px solid #333;
  background-color: white;
  border-radius: 0.15rem;
}

li{
    list-style:none;
}

input[type="text"],
input[type="password"],
select
{
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
  outline:transparent;
}

input::placeholder{
  opacity: 0.8; 
  color: #2A2F4F;
}

label {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

button{
    font: 1.25rem sans-serif;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
    color:white;
   background-color: #917FB3;
}

.header{
    text-transform: uppercase;
    font-weight: bold;
}

.input-container{
    margin:1rem 0;
}

.form-error{
  text-align: center;
  color:#2A2F4F;
  font-size:0.75rem;
  text-transform: uppercase;
}

button:hover {
  background-color: #7c67a3;
}


nav{
    width:100%;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul li{
    margin-right:1rem;
}
.username{
  font-size:1.5rem;
  margin-right: 2rem;
  text-transform: uppercase;
  letter-spacing:0.1ch;
}

.close-btn{
    position:absolute;
    top:0.5rem;
    right:0.5rem;
    width: 2rem;
    height:2rem;
    border-radius: 50%;
    background-color: rgb(236, 70, 70);
}

.form-container{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-items: center;
}

.add-todo{
    display: flex;
    align-items: center;
    margin:0;
    border-radius: 0.25rem;
    margin-right: 1rem;
    padding:0;
    background-color: white;
}
.add-todo input{
  border: none;
}
.add-todo button{
  width:0.75rem;
  height:0.75rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1rem;
  margin-right:0.5rem;
}

.todolists {
    padding:0;
}

.todolists li{
    padding:0.5rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 0.8fr 0.1fr 0.1fr;
    gap:1rem;
    align-items: center;
    transition: all 0.5s ease;
    background-color: white;
    color:#2A2F4F;
}
.todolists li >*{
  margin-top: 0;
  margin-bottom: 0;
}
.todolists li i{
    pointer-events: none;
    font-size:1.5rem;
}
.todolists>li>*:not(:first-child){
    cursor: pointer;
}

.pending-icon i{
  transition: all 0.1s;
}


.fall{
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select{
  font-size: inherit;  
  cursor: inherit;
  line-height: inherit;
}

.filter-form {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #777;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}

.filter-form::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color:  #777;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}
.filter-form select, .filter-form::after{
  grid-area: select;
}